body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}


p {
    margin: 0;
}

h5 {
    margin: 0;
    text-decoration:underline;
}
h6 {
    margin: 0;
}

/* ///////////////////////////////////////////// */

.container {
    background-color: bisque;
    /* width: 80vw; */
    margin: 10px 80px;
    

}

/* .aside {
    width: 20%;
}
.section {
    width: 80%;
} */



@media screen and (min-width: 768px){
    


    .table {
        display: grid;
        grid-template-columns: 25% 70%;
        justify-content: space-between;

    }
}