

.main-aside {
    background-color: burlywood;
}

.interest-list > li {
    display: flex;
}

.list-style {
    list-style:lower-greek;
    padding-left: 30px ;
}









/* //////////////////////////////////////////////////////////// */

.main-section {
    background-color: chocolate;
}


/* ///// headers //////  */

.head-three-aside {
    /* padding-left: 10px; */
    border-bottom: 1px solid black;
}

.head-three-main {
    padding-left: 20px;
    border-bottom: 1px solid black;
}

.head-four {
    padding-left: 20px;
}

/* ///// end of headers //////  */


.list-link-flex {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

/* .list-link-flex > a {
    margin-right: 30px;
} */






.duration-list {
    display: flex;
    justify-content: space-between;
}