

.main-aside {
    /* background-color: burlywood; */
}

.aside-nav {
    font-size: 12px;
}

.aside-nav-list-el {
    /* background-color:aquamarine ; */

    margin: 10px 0;

}

.nav-link {
    text-decoration: none;
    color: black;

    display: flex;
    align-items: center;
    gap: 20px;
}

.interest-list > li {
    display: flex;
}

.list-style {
    list-style:lower-greek;
    padding-left: 60px ;
}









/* //////////////////////////////////////////////////////////// */

.main-section {
    /* background-color: chocolate; */
}


/* ///// headers //////  */

.head-three-aside {
    /* padding-left: 10px; */
    border-bottom: 1px solid black;
    padding-bottom: 5px;


    font-size: 20px;
}

.head-three-main {
    padding-left: 20px;
    padding-bottom: 5px;

    border-bottom: 1px solid black;
    
    font-size: 20px;
}

.head-four {
    padding-left: 20px;
}
.head-five {
    padding-left: 20px;
}

/* ///// end of headers //////  */


.list-link-flex {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

/* .list-link-flex > a {
    margin-right: 30px;
} */






.duration-list {
    display: flex;
    justify-content: space-between;
}